<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <ol>
        {% for i in cloth %}
        <li>
            <h1>{{ i.name }}</h1>
            <p>{{ i.price }}</p>
            {% for j in i.tags.all %}
                <p>#{{ j.name }}</p>
            {% endfor %}
        </li>
            <hr>
            <hr>
            <hr>
        {% endfor %}
    </ol>

    <button><a href="/For Men/">For Men</a></button>
    <button><a href="/For Women/">For Women</a></button>
    <button><a href="/For Kids/">For Kids</a></button>
</center>
</body>